.home3-contact.contact-section{
    background: url('/home3/images/contact/bg-grading-getus.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}