@import "bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.spartan {
  font-family: "Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --primary-color-one: #078586;
  --menu-active-color: #078586;
  --primary-color-two: #282f3b;
  --heading-dark: #282f3b;
  --link-color-dark: #282f3b;
  --menu-color: #282f3b;
  --menu-dropdown-color: #282f3b;
}

:root {
  --creote-family-one: "Spartan", sans-serif !important;
  --creote-family-two: "Inter", sans-serif !important;
  --primary-color-one: #078586;
  --primary-color-two: #282f3b;
  --primary-color-three: #f0f3f9;
  --color-white: #fff;
  --primary-color-four: #fafcff;
  --primary-color-five: #1f2530;
  --text-color-dark: #4a4e56;
  --text-color-dark-two: #888888;
  --text-color-light: #aaafb8;
  --heading-dark: #282f3b;
  --link-color-dark: #282f3b;
  --border-color-dark: #e4e7ee;
  --border-color-dark-two: #373e4a;
  --border-color-light: #fbfcfe;
  --menu-color: #282f3b;
  --menu-color-white: #ffffff;
  --menu-dropdown-color: #282f3b;
  --menu-active-color: #078586;
  --box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, .09);
  --box-shadow-two: 0px 3px 16px 0px rgba(0, 0, 0, .05);
  --footer-default-bgcolor: #1f2530;
  --preloader-background-color: #078586;
  --bg-light-color-one: #F0F3F947;
  --bg-light-color-two: #F0F3F969;
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


a {
  text-decoration: none !important;
  cursor: pointer;
  color: var(--primary-color-one);
  transition: 0.5s ease-in-out !important;
  -moz-transition: 0.5s ease-in-out !important;
  -o-transition: 0.5s ease-in-out !important;
  -ms-transition: 0.5s ease-in-out !important;
}

a {
  background-color: transparent;
}

ul,
ol,
dl,
li {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */


h2 {
  font-weight: 700;
  margin: 0;
  color: var(--primary-color-two);
  font-family: var(--creote-family-one);
  transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  word-break: break-word;
  line-height: 44px;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-family: var(--creote-family-two);
  font-weight: 400;
  margin-bottom: 0;
  transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0 !important;
}