.contact-section-2{
    background: url('/home2/images/contact/home-11-footer-bg.jpg');
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}